.Payment {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.order-info, .pay-input, .your-cart {
    display: block;
}

.pay-nav {
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
}

.pay-input {
    width: 580.51px;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 30px;
}

.pay-input::-webkit-input-placeholder { 
    color: white; 
}

.Payment label input {
    display: none;
}

.Payment label {
    font-size: 17px;
    color: white;
    display: flex;
    margin-bottom: 30px;
}

.Payment label span {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    background: none;
    margin-right: 10px;
}

.Payment [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -7px;
    left: 2px;
    font-size: 28px;
    color:white;
}

.Payment label nav {
    padding-top: 5px;
}

.err {
    color: black;
    font-size: 14px;
    margin-bottom: 30px;
}

.Payment button, .Card button {
    width: 581px;
    height: 60px;
    background-color: #C254B8;
    color: white;
    font-size: 20px;
    border: none;
}

.Payment button:hover, .Card button:hover {
    background-color: #994592;
}

.Payment button:active, .Card button:active {
    background-color: #75356f;
}

.cartBook {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.cartBook img {
    width: 113px;
    height: 173px;
    margin-bottom: 60px;
    margin-right: 100px;
}

.your-cart-nav {
    color: white;
    font-size: 28px;
    margin-bottom: 50px;
}

.cartBook nav {
    color: white;
    font-size: 25px;
}

.cart-cost {
    display: flex;
    justify-content: space-around;
    margin-top: 82px;
}

.cart-sum {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    padding-top: 20px;
}

.cart-sum nav {
    color: white;
    font-size: 28px;
}

.cart-scroll {
    height: 450px;
    overflow-y: scroll; 
}

.cart-scroll::-webkit-scrollbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.cart-scroll::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

.Card {
    display: block;
    padding-top: 80px;
    text-align: center;
}

.Card input {
    margin-left: auto;
    margin-right: auto;
}

.cart-sum-card {
    display: flex;
    padding-top: 20px;
    margin-left: 458px;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}

.cart-sum-card nav {
    margin-right: 63px;
}

.Card .err {
    text-align: left;
    margin-left: 458px;
    margin-bottom: 0;
}