.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px;
}

.logo {
  margin-top: 50px;
}

.header-top {
  display: flex;
  border-bottom: 1px solid #ffffff91;
  padding: 15px;
  margin-bottom: 15px;
}

.input input {
  width: 800px;
  height: 45px;
  background: none;
  border: 2px solid #ffffff91;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.input {
  display: flex;
}
.input img {
  margin: 15px;
  vertical-align: middle;
}

.actions img {
  margin: 10px;
  margin-top: 17px;
  vertical-align: middle;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
}

.header-bottom a, .header-bottom nav {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-bottom select, .header-bottom option {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
}


.bottom {
  background-color: black;
  padding: 30px;
  margin-top: 100px;
  display: flex;
}

.info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info a, .info nav{
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.links {
  display: flex;
  justify-content: center;  
  margin: 11px;
}

.links a {
  margin: 13px;
}

.inst {
  padding-top: 10px;
}

.time {
  margin: 25px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(36, 36, 36);
}

.actions {
  display: flex;
}