.Contacts {
    display: flex;
    justify-content: space-around;
    padding-top: 170px;
}

.contacts-info {
    display: block;
    color: white;
}

.contacts-info nav {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contacts-info span {
    font-size: 25px;
    display: block;
}

.map {
    width: 637px;
    height: 637px;
    background-color: white;
}