.Contacts {
    display: block;
    justify-content: space-around;
    padding-top: 80px;
}

.Contacts nav {
    text-align: center;
    color: white;
    font-size: 28px;
    margin-bottom: 55px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contacts-info {
    display: block;
    color: white;
}

.contacts-info nav {
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contacts-info span {
    font-size: 17px;
    display: block;
}

.map {
    width: 637px;
    height: 637px;
}

.ymaps-2-1-79-map:nth-child(2) {
    position: relative;
    bottom: 637px;
}